.wrapper {
  width: 100%;
  height: 100%;
  min-height: 0;
  position: relative; }

.maincontent {
  min-height: 650px;
  height: 100%; }

.section {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 650px;
  width: 100%;
  height: 100vh;
  padding: 0;
  position: relative; }

.onepage-wrapper, .onepage-wrapper .section {
  overflow: visible !important; }

.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.clearfix:after,
.clearfix:before {
  content: " ";
  /* Older browser do not support empty content */
  display: table; }

.clearfix:after {
  clear: both; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  min-height: 100%; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 0px;
  color: #221f1f;
  line-height: 1.42;
  background-color: #aba4a6; }

.visuallyhidden:not():focus:not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

a {
  text-decoration: none;
  color: #fff; }

ul, h1, p, h2, h3 {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gagalin-Regular";
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Lifehack-Medium";
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.first-page {
  background: url("../img/1background.jpg") center center no-repeat;
  background-size: cover; }

.header {
  width: 100%;
  height: 5.3125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo {
  margin-top: 20%; }

.header-logo {
  z-index: 200;
  display: block; }

.menu-top__item {
  color: #fff;
  display: inline-block;
  padding-top: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.8125rem;
  font-family: Ubuntu;
  text-transform: uppercase; }

.menu-top__link {
  padding-left: 0.9375rem;
  vertical-align: middle; }

.menu-top__link:hover {
  text-decoration: underline; }

@media screen and (max-width: 768px) {
  .menu-top__list {
    display: none; } }

.menu-top__item::before {
  content: "";
  background-color: #fff;
  display: inline-block;
  width: 0.3125rem;
  height: 0.3125rem;
  border: 0.0625rem solid #dddddd;
  border-radius: 50%;
  vertical-align: middle; }

.menu-top__item:first-child:before {
  display: none; }

ul.menu-top__list {
  list-style-type: circle;
  color: white; }

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 1.5625rem; }

.header-button__link {
  color: #fff;
  border-radius: 0.1875rem;
  border: 0.0625rem solid #e45028;
  background-color: #e45028;
  font-size: 0.8125rem;
  font-family: Ubuntu-Medium;
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
  display: inline-block; }
  .header-button__link:hover {
    border: 0.0625rem solid #c1401e;
    background-color: #c1401e; }
  @media screen and (max-width: 480px) {
    .header-button__link {
      font-size: 0.9375rem;
      margin-top: 0.875rem;
      margin-right: 1.875rem; } }

.header-hamburger {
  padding-left: 10px;
  cursor: pointer; }
  .header-hamburger:hover {
    border: 1; }
  @media screen and (max-width: 768px) {
    .header-hamburger {
      padding-top: 0.25rem; } }
  @media screen and (max-width: 480px) {
    .header-hamburger {
      padding-top: 0.875rem; } }

.disappear {
  display: none; }

.hamburger-menu__bars {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu__bars {
      display: block; } }

.hidden__menu {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: #2f3234;
  opacity: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: none;
  z-index: 101; }

.appear {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s; }

.menu-hidden__content {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100%;
  width: 100%; }

.menu-hidden__close {
  position: relative;
  height: 10%;
  width: 100%;
  text-align: right;
  display: block; }

.close__icon {
  content: "";
  position: absolute;
  right: 5%;
  top: 20%;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: inline-block; }

.close__icon:hover {
  opacity: 1; }

.close__icon:before, .close__icon:after {
  position: absolute;
  content: '';
  width: 36px;
  height: 4px;
  top: 20%;
  left: 5%;
  background-color: #fff;
  border-radius: 2px;
  top: 16px; }

.close__icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close__icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu-hidden__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menu-hidden__item {
  padding: 1%;
  display: inline-block; }

.menu-hidden__dot {
  width: 0.3125rem;
  height: 0.3125rem;
  border: 0.0625rem solid #dddddd;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #fff; }

/* sidebar */
.side-first-page {
  display: block;
  top: 15%;
  right: 5%;
  position: fixed;
  z-index: 200; }
  @media screen and (max-width: 768px) {
    .side-first-page {
      display: none; } }

.side__item {
  padding-bottom: 0.9375rem; }

.side__item__img {
  position: relative;
  display: block;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: #ddd; }

.side__item--active:before {
  border: 0.0625rem solid #dddddd;
  content: '';
  position: absolute;
  -webkit-transform: translate(-26%, -27%);
  -ms-transform: translate(-26%, -27%);
  transform: translate(-26%, -27%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%; }

.active:before {
  border: 0.0625rem solid #dddddd;
  content: '';
  position: absolute;
  -webkit-transform: translate(-26%, -27%);
  -ms-transform: translate(-26%, -27%);
  transform: translate(-26%, -27%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%; }

.side__item:hover:before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-28%, -27%);
  -ms-transform: translate(-28%, -27%);
  transform: translate(-28%, -27%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid #e45028; }

.side__item {
  display: block; }

.onepage-pagination {
  top: 15%;
  right: 5%; }

.onepage-pagination li a {
  height: 0.4375rem;
  width: 0.4375rem;
  padding: 0.6875rem; }

.onepage-pagination li a:before {
  background: #ddd;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%; }

.onepage-pagination li a.active:before {
  width: 1rem;
  height: 1rem;
  border: 1px solid #ddd;
  background: none;
  left: 0.42rem; }

/* First page Main Content*/
.main-content__first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 5%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .main-content__first {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-top: 0; } }

.img-first {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 10%; }
  @media screen and (max-width: 768px) {
    .img-first {
      height: 50%; } }

.img-first__pic {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .img-first__pic {
      -o-object-fit: contain;
      object-fit: contain; } }

.first-general {
  display: inline-block;
  position: relative;
  height: 100%;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 10%; }
  @media screen and (max-width: 768px) {
    .first-general {
      height: 50%; } }

.page-title {
  font-size: 4.5rem;
  font-family: Gagalin-Regular;
  font-weight: 300; }

.yellow__title {
  color: #f9b43b; }
  @media screen and (max-width: 768px) {
    .yellow__title {
      font-size: 4.0625rem; } }

.page__subtitle {
  color: #fff;
  font-size: 4.0625rem;
  font-family: Lifehack-Medium;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .page__subtitle {
      font-size: 3.125rem; } }

.arrow-first {
  position: absolute;
  bottom: 1%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.arrow {
  height: 2.1875rem;
  width: 1.5625rem;
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  cursor: pointer; }

/* Second Page*/
.second-page {
  background: url("../img/2background.jpg") center center no-repeat;
  background-size: cover; }

.secondpage__top {
  margin-bottom: 10%;
  display: block; }
  @media screen and (max-width: 768px) {
    .secondpage__top {
      margin-bottom: 8%; } }

.secondpage__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .secondpage__blocks {
      padding-bottom: 4.375rem; } }
  @media screen and (max-width: 480px) {
    .secondpage__blocks {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.secondpage__item {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0; }
  @media screen and (max-width: 480px) {
    .secondpage__item {
      text-align: left;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

@media screen and (max-width: 480px) {
  .secondpage-main__title {
    font-size: 4.125rem; } }

.secondpage__main {
  display: block;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .secondpage__main {
      padding-bottom: 12%; } }

.secondpage__img--meat {
  height: 6.25rem;
  width: 5.625rem;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  fill: #e25028; }
  @media screen and (max-width: 480px) {
    .secondpage__img--meat {
      height: 7rem;
      width: 7rem; } }

.secondpage__img--hand {
  height: 6.25rem;
  width: 5.625rem;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  fill: #f8b43a; }
  @media screen and (max-width: 480px) {
    .secondpage__img--hand {
      height: 7rem;
      width: 6rem; } }

.secondpage__img--nature {
  height: 6.25rem;
  width: 5.625rem;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  fill: #8ac03e; }
  @media screen and (max-width: 480px) {
    .secondpage__img--nature {
      height: 7rem;
      width: 6rem; } }

@media screen and (max-width: 480px) {
  .secondpage__info {
    margin-left: 1.5625rem; } }

.secondpage__title {
  font-family: Lifehack-Medium;
  font-size: 1.5rem;
  padding-top: 10%;
  line-height: 1; }

.secondpage__text {
  font-family: Ubuntu-Light;
  font-size: 0.875rem;
  padding-top: 5%; }

/*3rd page*/
.third-page {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9b43b), color-stop(40%, #eb8c38), color-stop(60%, #eb8c38), color-stop(0, #eb8c38), to(#f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: -o-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background-size: cover; }

.container__third-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: #fff; }

.carousel {
  position: relative;
  height: 70%;
  width: 100%;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .carousel {
      height: 90%; } }

.carousel__list {
  white-space: nowrap;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.carousel__item {
  height: 100%;
  display: inline-block;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .carousel__item {
      height: 100%; } }

.compound__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e35028;
  padding: 0.4375rem 1.25rem;
  border-radius: 0.3125rem;
  height: 5.625rem;
  width: 5.625rem; }

.img-first__pic {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
  width: 100%; }

.third-page__compound {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 5.625rem;
  width: 5.625rem; }

.compound__inner {
  position: relative; }

.third-page__hidden {
  display: none;
  height: 16.875rem;
  width: 18.75rem;
  border-radius: 0.3125rem;
  background-color: #fef8ec;
  content: "";
  position: absolute;
  top: 0;
  right: -18.75rem;
  color: #454849; }

.third-page__compound:hover .third-page__hidden {
  display: block; }

.text__inner {
  font-weight: 300;
  font-family: Ubuntu-Medium;
  font-size: 0.875rem;
  padding-right: 5%; }

.weight__inner {
  font-weight: 300;
  font-family: Ubuntu-Light;
  font-size: 0.875rem;
  padding-right: 3%; }

.svg--red {
  fill: #e25028; }

.svg--yellow {
  fill: #f8b43a; }

.svg--green {
  fill: #8ac03e; }

.third-page__kkal {
  content: "";
  position: absolute;
  top: 85%;
  left: 0; }
  @media screen and (max-width: 768px) {
    .third-page__kkal {
      top: 0;
      left: 85%; } }
  @media screen and (max-width: 480px) {
    .third-page__kkal {
      left: 80%;
      top: 0; } }

.kkal {
  fill: #fad39d; }

.svg__kkal {
  position: relative; }

.text__kkal {
  font-size: 1.25rem;
  font-family: Gagalin-Regular;
  font-weight: 300;
  text-align: center;
  color: #fad39d;
  content: "";
  position: absolute;
  top: 33%;
  right: 8%; }
  @media screen and (max-width: 768px) {
    .text__kkal {
      top: 30%;
      right: 5%; } }

.burger__svg {
  fill: #fff;
  height: 3.125rem;
  width: 3.125rem; }

.kkal {
  fill: #fff;
  height: 3.125rem;
  width: 3.125rem; }

.container__img {
  display: inline-block;
  position: relative;
  padding-top: 10%;
  width: 50%;
  height: 100%;
  padding-bottom: 10%; }
  @media screen and (max-width: 768px) {
    .container__img {
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 0;
      height: 50%;
      width: 95%; } }
  @media screen and (max-width: 480px) {
    .container__img {
      height: 40%; } }

.compound__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 10% 10%; }

.compound__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.icon__list {
  height: 1.825rem;
  width: 2.5rem;
  padding-right: 5%; }

.arrow-left {
  height: 70%;
  width: 4rem;
  position: relative; }

.arrow__link--left {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  height: 2.5rem;
  width: 1.875rem;
  margin-right: 1.25rem; }

.arrow__left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 2.1875rem;
  width: 1.5625rem;
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  cursor: pointer; }

.arrow-right {
  height: 70%;
  width: 4rem;
  position: relative; }

.arrow__link--right {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  height: 2.5rem;
  width: 1.875rem;
  margin-left: 1.25rem; }

.arrow__right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: 2.1875rem;
  width: 1.5625rem;
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  cursor: pointer; }

.third-page__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .third-page__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

.third-page__description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-right: 5%;
  padding-top: 5%;
  width: 50%;
  height: 100%;
  white-space: normal; }
  @media screen and (max-width: 768px) {
    .third-page__description {
      height: 50%;
      width: 95%;
      padding-right: 0;
      padding-top: 0; } }

.third-page__title {
  font-size: 4.5rem;
  font-family: Gagalin-Regular;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .third-page__title {
      font-size: 2.8rem;
      text-align: center; } }

.third-page__text {
  font-size: 0.875rem;
  font-family: Ubuntu-Light;
  font-weight: 300; }

.price__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  @media screen and (max-width: 768px) {
    .price__info {
      margin: 0 auto;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .price__info {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.price {
  color: #e45028;
  font-family: Gagalin-Regular;
  font-weight: 300; }

.price__value {
  font-size: 4.5rem;
  display: inline-block;
  padding-right: 2%; }
  @media screen and (max-width: 768px) {
    .price__value {
      font-size: 2.8rem; } }

.price__text {
  font-size: 1.875rem;
  display: inline-block;
  padding-right: 5%; }
  @media screen and (max-width: 480px) {
    .price__text {
      font-size: 1.5625rem; } }

.burger-button__link {
  color: #fff;
  border-radius: 0.1875rem;
  border: 0.0625rem solid #e45028;
  background-color: #e45028;
  font-size: 0.8125rem;
  font-family: Ubuntu-Medium;
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
  display: inline-block; }
  .burger-button__link:hover {
    border: 0.0625rem solid #c1401e;
    background-color: #c1401e; }

/*4th page*/
.fouth-page {
  background: url("../img/team.jpg") center center no-repeat;
  background-size: cover; }

.fouth-page {
  position: relative; }

.fouthpage__right {
  height: 100%;
  width: 50%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ddd; }
  @media screen and (max-width: 768px) {
    .fouthpage__right {
      width: 100%; } }

.fouthpage__main {
  padding-top: 10%;
  padding-left: 10%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .fouthpage__main {
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.fouthpage {
  color: #f9b43b; }
  @media screen and (max-width: 480px) {
    .fouthpage {
      font-size: 4.125rem;
      padding-top: 3.125rem; } }

.fouthpage__block {
  padding-top: 10%; }
  @media screen and (max-width: 768px) {
    .fouthpage__block {
      padding-top: 14%; } }

.fouthpage__name {
  margin-bottom: 5%; }

.fouthpage__name:before {
  content: "";
  width: 0rem;
  height: 0rem;
  border: 0.5625rem solid transparent;
  border-top-color: #f9b43b;
  border-bottom: none;
  margin-right: 0.625rem;
  display: inline-block; }

.fouthpage__hidden-description {
  padding-left: 1.25rem; }

.fouthpage__item {
  font-family: Gagalin-Regular;
  font-weight: 300;
  font-size: 0.875rem;
  color: #ebebeb;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .fouthpage__item {
      font-size: 1.5625rem;
      text-align: center; } }

.fouthpage__item:hover .fouthpage__name {
  color: #f9b43b; }

.show .fouthpage__name {
  color: #f9b43b; }

.show .fouthpage__name:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fouthpage__item:hover .fouthpage__name:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.hidden__block-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 12rem;
  padding-bottom: 2.5rem;
  padding-top: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .hidden__block-team {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 0;
      height: 16rem; } }

.fouthpage__hidden {
  height: 0;
  overflow: hidden;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.show .fouthpage__hidden {
  height: auto;
  overflow: hidden; }

.fouthpage__hidden__img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  background-color: #f9b43b;
  overflow: hidden; }

.fouthpage__img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%; }

.fouthpage__hidden-title {
  font-family: Ubuntu-Bold;
  font-weight: 700;
  font-size: 0.875rem;
  padding-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .fouthpage__hidden-title {
      padding-top: 1rem; } }

.fouthpage__hidden-text {
  font-family: Ubuntu-Light;
  font-weight: 300;
  font-size: 0.875rem;
  width: 80%; }
  @media screen and (max-width: 768px) {
    .fouthpage__hidden-text {
      margin: 0 auto; } }

/*5th page*/
.fifth-page {
  background: url("../img/burger4th.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.white-title {
  color: white;
  position: absolute;
  content: "";
  top: 10%;
  left: 5%; }
  @media screen and (max-width: 768px) {
    .white-title {
      top: 12%;
      left: 2%; } }

.fifthpage__blocks {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 50vw; }
  @media screen and (max-width: 768px) {
    .fifthpage__blocks {
      width: 100vw;
      left: 0; } }

.fifthpage__item--meat {
  background-image: url("../img/burger4th.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative; }

.fifthpage__item--veg {
  background: url("../img/veggie.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative; }

.fifthpage__item--diet {
  background: url("../img/diet.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; }

.fifthpage__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row nowrap;
  -ms-flex-direction: row nowrap;
  flex-direction: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  cursor: pointer; }

.fifthpage__menu {
  display: block;
  height: 100%;
  width: 5rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 768px) {
    .fifthpage__menu {
      width: 4rem; } }
  @media screen and (max-width: 480px) {
    .fifthpage__menu {
      width: 2rem; } }

.menu__title {
  /*width: 100%;*/
  height: 100%; }

.fifthpage__hidden {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.fifthpage__hidden-text {
  padding: 3.75rem 1.875rem 0;
  color: #fff;
  font-family: Ubuntu-Light;
  font-weight: 300;
  font-size: 0.875rem;
  width: calc(50vw - 15rem); }
  @media screen and (max-width: 768px) {
    .fifthpage__hidden-text {
      width: calc(100vw - 12rem); } }
  @media screen and (max-width: 480px) {
    .fifthpage__hidden-text {
      width: calc(100vw - 6rem); } }

.active .fifthpage__hidden {
  height: 100%;
  overflow: hidden; }

.vertical-text {
  display: block;
  position: absolute;
  top: 50%;
  left: -6.875rem;
  width: 18.75rem;
  color: #fff;
  font-size: 2.5rem;
  font-family: Gagalin-Regular;
  font-weight: 300;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .vertical-text {
      left: -7.575rem; } }
  @media screen and (max-width: 480px) {
    .vertical-text {
      font-size: 1.5rem;
      left: -8.375rem; } }

/*Feedback Page*/
.feedback__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%; }

.feedback__item {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  height: 50%;
  display: inline-block;
  position: relative; }
  @media screen and (max-width: 768px) {
    .feedback__item {
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 25%; } }

.feedback__img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  filter: gray;
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%; }

.feedback__content {
  z-index: 100;
  height: 100%;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  padding: 3rem 1.875rem 3rem 1.25rem;
  color: #fff;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  @media screen and (max-width: 768px) {
    .feedback__content {
      text-align: center;
      padding: 0; } }

.feedback__item:hover .feedback__content {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s; }

.feedback__tile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.feedback__title {
  padding-bottom: 1.5625rem;
  font-family: Gagalin-Regular;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .feedback__title {
      padding-top: 2.1875rem;
      font-size: 1.8125rem; } }

.feedback__text {
  padding-bottom: 0.9375rem;
  font-family: Ubuntu-Light;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .feedback__text {
      display: none; } }

.feedback__link {
  text-transform: uppercase;
  display: inline-block;
  font-family: Ubuntu-Medium;
  font-size: 0.8125rem;
  color: #fff;
  padding: 0.625rem;
  border: 0.0625rem solid #2f3234;
  background-color: #2f3234;
  border-radius: 0.1875rem;
  outline: none; }
  .feedback__link:hover {
    background-color: #1f2122;
    border: 0.0625rem solid #1f2122;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s; }
  @media screen and (max-width: 480px) {
    .feedback__link {
      display: none; } }

.feedback__link--phones {
  display: none;
  text-transform: uppercase;
  font-family: Ubuntu-Medium;
  font-size: 0.8125rem;
  color: #fff;
  padding: 0.625rem;
  border: 0.0625rem solid #2f3234;
  background-color: #2f3234;
  border-radius: 0.1875rem; }
  .feedback__link--phones:hover {
    background-color: #1f2122;
    border: 0.0625rem solid #1f2122;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s; }
  @media screen and (max-width: 480px) {
    .feedback__link--phones {
      display: inline-block; } }

.feedback__wholetext {
  display: none;
  height: 15.9375rem;
  width: 29.375rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  text-align: left;
  padding: 1.25rem;
  color: #2f3234;
  font-family: Ubuntu-Light;
  font-size: 14px;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .feedback__wholetext {
      width: 18.75rem;
      height: auto; } }

.fancybox-close-small:after {
  color: red; }

.fancybox-close-small:focus:after {
  outline: none; }

/*7th page - Forms*/
.seventh-page {
  background: url("../img/form-background.jpg") center center no-repeat;
  background-size: cover;
  font-size: 1.125rem; }

.seventhpage__content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.seventhpage__top {
  margin: 0 auto;
  display: block;
  padding-bottom: 10%; }
  @media screen and (max-width: 480px) {
    .seventhpage__top {
      text-align: center; } }

.form__container {
  display: block;
  height: auto;
  width: 100%; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Ubuntu-Light;
  font-weight: 300;
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.form__left {
  width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .form__left {
      width: 65%; } }
  @media screen and (max-width: 480px) {
    .form__left {
      width: 100%; } }

.form__right {
  width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  margin-left: 1.25rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .form__right {
      margin-left: 0;
      width: 65%; } }
  @media screen and (max-width: 480px) {
    .form__right {
      width: 100%; } }

.form__input__text {
  font-size: 1rem;
  padding: 0.875rem;
  background: #fff;
  border-radius: 0.4375rem;
  border: 0;
  height: 2.1875rem;
  width: 100%; }

.first__row .form__cell {
  width: 48%; }

.second__row .form__cell {
  width: 100%; }

.third__row .form__cell {
  width: 20%; }
  @media screen and (max-width: 480px) {
    .third__row .form__cell {
      width: 30%; } }

@media screen and (max-width: 480px) {
  .form__cell--nophone {
    display: none; } }

.form__input__textarea {
  font-size: 1rem;
  padding: 0.875rem;
  background: #fff;
  border-radius: 0.4375rem;
  border: 0;
  width: 100%;
  height: 6.875rem; }

.form__textarea-label {
  width: 100%; }

@media screen and (max-width: 480px) {
  .form__elements--phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

.form__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.submit__button {
  color: #fff;
  border-radius: 0.1875rem;
  border: 0.0625rem solid #e45028;
  background-color: #e45028;
  font-size: 0.8125rem;
  font-family: Ubuntu-Medium;
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer; }
  .submit__button:hover {
    border: 0.0625rem solid #c1401e;
    background-color: #c1401e; }

.clear__button {
  margin-left: 1.25rem;
  color: #fff;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
  font-family: Ubuntu-Light;
  padding: 0.625rem 0.9375rem;
  text-transform: none;
  display: inline-block;
  outline: none;
  cursor: pointer; }

.clear__button:hover {
  color: #f9b43b;
  text-decoration: underline; }

/*radio*/
.radio__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1.25rem; }

.form__radio--element {
  display: inline-block;
  vertical-align: middle;
  /*display: none;*/ }

.form__radio__text {
  display: inline-block;
  font-size: 0.875rem;
  font-family: Ubuntu-Light;
  font-weight: 300;
  vertical-align: middle;
  color: #fff; }

.form__radio {
  margin-left: 1.25rem; }

.form__radio:first-child {
  margin-left: 0; }

.checkbox__container {
  margin-bottom: 1.25rem; }

.form__checkbox {
  vertical-align: middle; }

.checkbox__text {
  display: inline-block;
  font-size: 0.875rem;
  font-family: Ubuntu-Light;
  font-weight: 300;
  color: #fff; }

.form__checkbox--element {
  vertical-align: middle; }

.form__radio--fake {
  content: "";
  display: none; }

/*8th page*/
.eight-page {
  background: url("../img/map.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%; }

.map-page {
  height: 100%;
  width: 100%;
  position: relative; }

.map {
  height: 95%;
  width: 100%;
  position: absolute;
  top: 0; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f3234;
  height: auto;
  color: #fff; }

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__left {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }
  @media screen and (max-width: 480px) {
    .footer__left {
      padding-bottom: 0.9375rem;
      text-align: center; } }

.address {
  font-family: Ubuntu-Light;
  font-weight: 300;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .address {
      font-size: 1.125rem; } }

.phone {
  color: #e45028;
  font-family: Ubuntu-Bold;
  font-weight: 700;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .phone {
      font-size: 1.125rem; } }

.footer__right {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-align: right; }
  @media screen and (max-width: 480px) {
    .footer__right {
      padding-bottom: 0.9375rem;
      text-align: center; } }

.icon {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.0625rem;
  fill: #5a5a5a;
  cursor: pointer; }

.icon:hover {
  fill: #fff; }
