
.container {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-page {
    background: url('../img/1background.jpg') center center no-repeat;
    background-size: cover;
}

.header {
    width: 940px;
    height: 85px;
    margin: 0 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.logo {
    margin-top: 20%;
}
.menu-top__item {
    color: #fff;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-family: Ubuntu;
    text-transform: uppercase;
}
.menu-top__link {
    padding-left: 15px;
    vertical-align: middle;
}
.menu-top__item::before {
    content: "";
    background-color: #fff;
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    vertical-align: middle;
}
.menu-top__item:first-child:before {
    display: none;
}
ul.menu-top__list {
    list-style-type: circle;
    color: white;
}
.header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 25px;
}

.header-button__link {
    color: #fff;
    border-radius: 3px;
    border: 1px solid #e45028;
    background-color: #e45028;
    font-size: 13px;
    font-family: Ubuntu-Medium;
    padding: 10px 15px;
    text-transform: uppercase;
    display: inline-block;
}
/* sidebar */
.side-first-page {
    display: block;
    top: 15%;
    right: 5%;
    position: fixed;
    z-index: 200;
}
.side__item {
    padding-bottom: 15px;
}
.side__item__img {
    position: relative;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ddd;
}
.side__item--active:before {
    border: 1px solid #dddddd;
    content: '';
    position: absolute;
    transform: translate(-30%, -30%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.side__item:hover:before {
     content: '';
    position: absolute;
    transform: translate(-30%, -30%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #e45028;
}
.side__item {
    display: block;
    
}
/* First page Main Content*/

.main-content__first {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 15%;
    flex: 1;
    padding-top: 5%;
}
.img-first {
    flex-basis: 50%;
}

.first-general {
    display: inline-block;
    position: relative;
    height: 100%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 72px;
    font-family: Gagalin-Regular;
    font-weight: 300;
}
.yellow__title {
    color: #f9b43b;
    /*top: 0;
    left: 50%;
    display: absolute;*/
}

.page__subtitle {
    color: #fff;
    font-size: 65px;
    font-family: Lifehack-Medium;
    font-weight: 300;
}

.arrow-first {
    /*display: block;*/
    /*margin: 0 auto;*/
    position: absolute;
    bottom: 1%;
    transition: 0.5s;
    
}


    /* Second Page*/
.container__secondpage {
    display: flex;
    flex-direction: rows wrap;
    justify-content: center;
    align-items: center;
}
.secondpage__blocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.secondpage__item {
    text-align: center;
    width: 300px;
}
.second-page {
    background: url('../img/2background.jpg') center center no-repeat;
    background-size: cover;
    
}
.secondpage__top {
    margin-bottom: 10%;
    /*padding-top: 10%;*/
    display: block;

}
.secondpage__main {
    display: block;
    /*padding-top: 5%;*/
    /*margin-top: 80px;*/
}

.secondpage__title {
    font-family: Lifehack-Medium;
    font-size: 24px;
    padding-top: 10%;
    line-height: 1;
}
.secondpage__text {
    font-family: Ubuntu-Light;
    font-size: 14px;
    padding-top: 5%;
}
/*3rd page*/
 .third-page {
    background: #f9b43b center center no-repeat;
    background-size: cover;
}

 /*4th page*/
 .fouth-page {
    background: url('../img/team.jpg') center center no-repeat;
    background-size: cover;
}
.fouth-page {
    position: relative;
}
.fouthpage__right {
    height: 100%;
    width: 50%;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ddd;
}
.fouthpage__main {
    padding-top: 10%;
    padding-left: 10%;
    /*width: 80%;*/
    height: 100%;
}
.fouthpage {
    color: #f9b43b;
}
.fouthpage__block {
    padding-top: 10%;
}
.fouthpage__name {
    margin-bottom: 5%;
}
.fouthpage__hidden__description {
    padding-left: 20px;
}
.fouthpage__item {
    font-family: Gagalin-Regular;
    font-weight: 300;
    font-size: 14px;
    color: #ebebeb;
}
.fouthpage__item:hover .fouthpage__name {
    color: #f9b43b;
}
.fouthpage__item--show .fouthpage__name {
    color: #f9b43b;
}
.fouthpage__item:before {

}
.fouthpage__hidden {
    display: flex;
    height: 0;
    overflow: hidden;
    width: 70%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.fouthpage__item--show .fouthpage__hidden {
    height: auto;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 40px;
}

.fouthpage__hidden__img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f9b43b;
    overflow: hidden;
}

.fouthpage__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.fouthpage__hidden__title {
    font-family: Ubuntu-Bold;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 20px;
}
.fouthpage__hidden__text {
    font-family: Ubuntu-Light;
    font-weight: 300;
    font-size: 14px;
}


/*5th page*/
 .fifth-page {
    background: url('../img/burger4th.jpg') center center no-repeat;
    background-size: cover;
}
.fifthpage__blocks {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    /*width: 70%;*/
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fifthpage__item {
    height: 100%;
}
.fifthpage__item--meat {
    background-color:#e45028;
    background: url('../img/burger4th.jpg') no-repeat right;
    background-size: cover;
    background: rgba(0, 0, 0, .5);

}
.fifthpage__item--veg {
    background-color: #e45028;
    /*background: url('../img/veggie.jpg') no-repeat right;*/
    background-position: 50%;
    background-size: cover;
    /*background: rgba(0, 0, 0, .5);*/
}
/*.fifthpage__item--veg:before {
    background: rgba(0, 0, 0, .5);
}*/
.fifthpage__item--diet {
    background-color: #e45028;
    background: url('../img/diet.jpg') no-repeat right;
    background-size: cover;
    background: rgba(0, 0, 0, .5);
}
.fifthpage__item {
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.fifthpage__menu {
    display: block;
    height: 100%;
    width: 80px;
    position: relative;
}
.menu__title {
    width: 100%;
    height: 100%;
}
.fifthpage__hidden {
    height: 100%;
    width: 540px;
    background: rgba(0, 0, 0, .7);
}
.fifthpage__hidden {
    height: 0;
    width: 0;
    overflow: hidden;
}
.fifthpage__hidden__text {
    padding: 60px 30px 0;
    color: #fff;
    font-family: Ubuntu-Light;
    font-weight: 300;
    font-size: 14px;

}

.vertical-text {
    display: block;
    position: absolute;
    top: 50%;
    left: -110px;;
    width: 300px;
    color: #fff;
    font-size: 40px;
    font-family: Gagalin-Regular;
    font-weight: 300;
    transform: rotate(-90deg);    
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
   
}

    /*Feedback Page*/

.feedback__list {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    height: 100%;
 
}
.feedback__item {
    
    flex-basis: 25%;
    height: 50%;
    display: inline-block;
    position: relative;

}
.feedback__img {
    filter: grayscale(1);
    height: 100%;
    width: 100%;
    /*display: inline-block;
    object-fit: cover;*/
    background-size: cover;
    background-position: 50% 50%;
}

.feedback__content {
    /*display: none;*/
    z-index: 100;
    height: 100%;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 0;
    padding: 48px 30px 48px 20px;
    color: #fff;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .7);
    transform: scale(0);
    transition: all 0.4s;


}
.feedback__item:hover .feedback__content {
    /*display: block;*/
    transform: scale(1);
    transition: all 0.8s;
    

}
.feedback__title {
    padding-bottom: 25px;
    font-family: Gagalin-Regular;
    font-size: 14px;
}
.feedback__text {
    padding-bottom: 15px;
    font-family: Ubuntu-Light;
    font-size: 14px;
}
.feedback__link__text {
    text-transform: uppercase;
    display: inline-block;
    font-family: Ubuntu-Medium;
    font-size: 13px;
    color: #fff;
    padding: 10px;
    border: 1px solid #2f3234;
    background-color: #2f3234;
    border-radius: 3px;
}
.feedback__link__text:hover {
    background-color: #1f2122;
    border: 1px solid #1f2122;
    transition: all .7s;
}

 /*7th page*/
 .seventh-page {
    background: url('../img/form-background.jpg') center center no-repeat;
    background-size: cover;
}
.seventhpage__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seventhpage__top {
    margin: 0 auto;
    display: block;
    padding-bottom: 10%;
}
/*.forms__items {
    width: 100%;
}*/
.forms__left .forms__right {
    width: 50%;
}
.forms__elements {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: block;
    
}
.forms__field__title {
    color: #ddd;
}
.first__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.forms__cell {
    width: 100px;
    margin: 5px 5px;
}
.forms__input__text {
    display: inline;
}
.third__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}
label {
    display: inline-block;
}

 /*8th page*/
 .eight-page {
    background: url('../img/map.jpg') center center no-repeat;
    background-size: cover;
    /*position: relative;*/
}

.container__map {
    width: 100%;
    height: 100%;
    position: relative;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2f3234;
    height: auto;
    color: #fff;
}
.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
}
.footer__left {
    flex-basis: 50%;
}
.address {
    font-family: Ubuntu-Light;
    font-weight: 300;
    font-size: 14px;
}
.phone {
    color: #e45028;
    font-family: Ubuntu-Bold;
    font-weight: 700;
    font-size: 14px;
}
.footer__right {
    flex-basis: 50%;
    text-align: right;
}