
/*3rd page*/
 .third-page {
    background: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
    background-size: cover;
}
.container__third-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #fff;
}
.third-page__main {
    height: 70%;
    @include tablets {
        height: 100%;
    }
}
.compound__main__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e35028;
    padding: rem(7px) rem(20px);
    border-radius: rem(5px);
    height: rem(90px);
    width: rem(90px);
}


.third-page__img__container {
    position: relative;
    width: 50%;
    height: 100%;
    @include tablets {
        width: 95%;
        height: 50%;
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}
.third-page__compound {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    position: relative;
}
.third-page__hidden {
    display: none;
    height: rem(270px);
    width: rem(300px);
    border-radius: rem(5px);
    background-color: #fef8ec;
    content: "";
    position: absolute;
    top: 0;
    right: rem(-300px);
    color: #454849;
}
.third-page__compound:hover .third-page__hidden{
    display: block;
}
.compound__text--inner {
    font-weight: 300;
    font-family: Ubuntu-Medium;
    font-size: rem(14px);
    padding-right: 5%;
}
.compound__weight--inner {
    font-weight: 300;
    font-family: Ubuntu-Light;
    font-size: rem(14px);
    padding-right: 3%;
}
.svg--red {
    fill: #e25028;
}
.svg--yellow {
    fill: #f8b43a;
}
.svg--green {
    fill: #8ac03e;
}



.third-page__icon--first {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    @include tablets {
        right: 0;
        top: 0;
        left: 100%;
    }
}

.burger__svg {
    fill: #fff;
    height: rem(50px);
    width: rem(50px);
}
.kkal {
    fill: #fff;
    height: rem(50px);
    width: rem(50px);
}
.container__img {
    display: inline-block;
    margin-top: 30%;
    @include tablets {
        margin-top: 0;
    }
}
.compound__hidden__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding: 10% 10%;
}
.compound__hidden__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.icon__compound__list {
    height: 1.825rem;
    width: rem(40px);
    padding-right: 5%;
}
.arrow__left {
    transform: rotate(90deg);
    height: rem(35px);
    width: rem(25px);
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
    cursor: pointer;
}
.arrow__right {
    transform: rotate(-90deg);
    height: rem(35px);
    width: rem(25px);
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
    cursor: pointer;
}
.third-page__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}
.third-page__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 5%;
    width: 50%;
    @include tablets {
        margin-bottom: 10%;
        height: 50%;
        width: 95%;
        padding-right: 0;
    }
}
.third-page__title {
    font-size: rem(72px);
    font-family: Gagalin-Regular;
    font-weight: 300;
    @include tablets {
        font-size: 4.125rem;
        text-align: center;
    }
}
.third-page__text {
    font-size: rem(14px);
    font-family: Ubuntu-Light;
    font-weight: 300;
}
.third-page__bottom__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.third-page__bottom {
    color: #e45028;
    font-family: Gagalin-Regular;
    font-weight: 300;
}
.third-page__bottom__price {
    font-size: rem(72px);
    display: inline-block;
    padding-right: 2%;
    @include tablets {
        font-size: 3.125rem;
    }
}
.third-page__bottom__text {
    font-size: rem(30px);
    display: inline-block;
    padding-right: 5%;
}
.button__link {
    color: #fff;
    border-radius: rem(3px);
    border: rem(1px) solid #e45028;
    background-color: #e45028;
    font-size: rem(13px);
    font-family: Ubuntu-Medium;
    padding: rem(10px) rem(15px);
    text-transform: uppercase;
    display: inline-block;

     &:hover {
    border: rem(1px) solid #c1401e;
    background-color: #c1401e;
    }
}

